<div class="row pt-5">
    <div class="col-md-8 mx-auto">
        <div class="card rounded-o">
            <div class="card-header">
                <h3 class="mb-0">Looks good?</h3>
            </div>
            <div class="card-body">
                <form class="form">

                    <div class="form-group row">
                        <label for="firstname" class="col-sm-3">First Name</label>
                        <input required value={{registerUserdata.fname}} disabled="disabled" type="text " name="fname " id=" " class="col-sm-8 form-control rounded-o " placeholder=" ">
                    </div>
                    <div class="form-group row ">
                        <label for="lastname " class="col-sm-3 ">Last Name</label>
                        <input value={{registerUserdata.lname}} disabled="disabled" type="text " name="lname " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>
                    <div class="form-group row ">
                        <label for="businessunit " class="col-sm-3 ">Business Unit </label>
                        <input value={{registerUserdata.bu}} disabled="disabled" type="text " name="bu " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>
                    <div class="form-group row ">
                        <label for="tittle " class="col-sm-3 ">Tittle </label>
                        <input value={{registerUserdata.tittle}} disabled="disabled" type="text " name="tittle " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>
                    <div class="form-group row ">
                        <label for="phone " class="col-sm-3 ">Phone </label>
                        <input value={{registerUserdata.phone}} disabled="disabled" type="text " name="phone " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>

                    <div class="form-group row ">
                        <label for="email " class="col-sm-3 ">E-mail </label>
                        <input value={{registerUserdata.email}} disabled="disabled" type="email " name="email " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>
                    <div class="form-group row ">
                        <label for="password " class="col-sm-3 ">Password </label>
                        <input type="password " value={{registerUserdata.password}} disabled="disabled" name="password " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId ">
                    </div>
                    <div class="form-group row ">
                        <label for="address1>" class="col-sm-3">Address </label>
                        <input value={{registerUserdata.address}} disabled="disabled" type="text" name="address" required id="" class="col-sm-8 form-control rounded-o" placeholder="" aria-describedby="helpId">
                    </div>

                    <div class="form-group row">
                        <label for="city>" class="col-sm-3">City </label>
                        <input value={{registerUserdata.city}} disabled="disabled" type="text" name="city" required id="" class="col-sm-8 form-control rounded-o" placeholder="" aria-describedby="helpId">
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3" for="state">State</label>
                        <input value={{registerUserdata.state}} disabled="disabled" type="text" name="state" required id="" class="col-sm-8 form-control rounded-o" placeholder="" aria-describedby="helpId">


                    </div>
                    <div class="form-group row">
                        <label for="zip>" class="col-sm-3">Zip </label>
                        <input value={{registerUserdata.zip}} disabled="disabled" type=" number " name="zip " required id=" " class="col-sm-8 form-control rounded-o " placeholder=" " aria-describedby="helpId " value="registerUserdata.zip">
                    </div>
                    <div class="form-group row ">
                        <label class="col-sm-3 " for="Country ">Country</label>

                        <input value={{registerUserdata.fname}} disabled="disabled" type="text" name="state" required id="" class="col-sm-8 form-control rounded-o" placeholder="" aria-describedby="helpId">

                    </div>

                    <div class="row">
                        <button type=" submit " (click)="edit()" class=" btn btn-danger col-md-3 float-center pl-2 ">Edit</button>
                        <div class="div col-md-1 "><pre> </pre></div>
                        <button (click)="submit()" type="submit " class="btn btn-success col-md-3 float-center ">Submit</button>

                    </div>
                </form>


            </div>

        </div>
    </div>
</div>