.dashboard {
    height: 100%;
    width: 100%;
    padding: 100px;
    /* background-image: url("https://www.fcmtravel.com/sites/default/files/styles/grid_items/public/why-choose-summary.jpg?itok=LAqXcbBq"); */
}